.artist_bio{
    box-sizing: border-box;
    padding:10px 30px;
}

.artist_bio .artist_image span{
    width:120px;
    height: 120px;
    display: block;
    margin:0 auto;
    background-size:cover !important
}

.artist_bio h3{
    font-weight: 100;
    text-align: center;
    font-size:30px;
    margin:10px 0;
}

.artist_bio .bio_text{
    font-weight: 100;
    font-size:16px;
}